GITHUB_TOKEN='<<your github access token>>'
GSC_PRIVATE_KEY='-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n'
GSC_SERVICE_ACCOUNT_EMAIL='service-account@your-project.iam.gserviceaccount.com'
GSC_SITE_URL='https://andrewdongminyoo.vercel.app'
INSIGHTS_ACCESS_TOKEN=''
INSIGHTS_DATE_ROW_LIMIT='90'
INSIGHTS_KV_KEY='insights:gsc:latest'
INSIGHTS_LOOKBACK_DAYS='28'
INSIGHTS_REFRESH_TOKEN=''
INSIGHTS_ROW_LIMIT='250'
REDIS_URL="******"
VERCEL_OIDC_TOKEN="******"
