@import './calendar.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    img,
    svg,
    video,
    canvas,
    audio,
    iframe,
    embed,
    object {
        display: inline-block;
        vertical-align: middle;
    }
}

body {
    background-color: white;
    color: #263747;
    line-height: 1.4;
    -webkit-text-size-adjust: none;
}

a {
    transition-delay: initial;
    transition-duration: 0.08s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px solid #d7e2eb;
    margin-top: 16px;
    margin-bottom: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    color: inherit;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h4 {
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}

h5,
h6 {
    font-weight: 400;
}

h1 {
    letter-spacing: -0.009em;
    line-height: 1.4;
}

h2 {
    letter-spacing: -0.009em;
    line-height: 1.4;
}

h3 {
    letter-spacing: -0.009em;
    line-height: 1.4;
}

h4 {
    letter-spacing: -0.009em;
    line-height: 1.6;
}

li,
h5 {
    letter-spacing: -0.009em;
    line-height: 1.6;
}

h6 {
    line-height: 1.5;
}

p {
    margin-bottom: 8px;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 1.6;
}

small {
    line-height: 1.5;
}