* {
  box-sizing: border-box;
  -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
  color-adjust: exact !important; /* Firefox 48 – 96 */
  print-color-adjust: exact !important; /* Firefox 97+, Safari 15.4+ */
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

body {
  font-family: "Inter", "NotoSansKR", "Helvetica Neue", Helvetica, Arial,
    "맑은 고딕", malgun gothic, "돋움", Dotum, sans-serif, "Apple Color Emoji",
    "Noto Color Emoji";
  font-size: 16px;
  background-color: white;
  color: #263747;
  line-height: 1.4;
}

a {
  transition-delay: initial;
  transition-duration: 0.08s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #d7e2eb;
  margin-top: 16px;
  margin-bottom: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", "NotoSansKR", "Helvetica Neue", Helvetica, Arial,
    "맑은 고딕", malgun gothic, "돋움", Dotum, sans-serif, "Apple Color Emoji",
    "Noto Color Emoji";
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h4 {
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
}

h5,
h6 {
  font-weight: 400;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  h5,
  h6 {
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, "맑은 고딕",
      malgun gothic, "돋움", Dotum, sans-serif;
  }
}

h1 {
  font-size: 40px;
  letter-spacing: -0.009em;
  line-height: 1.4;
}

@media (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 32px;
  letter-spacing: -0.009em;
  line-height: 1.4;
}

@media (max-width: 767px) {
  h2 {
    font-size: 28px;
  }
}

@media (max-width: 575px) {
  h2 {
    font-size: 24px;
  }
}

h3 {
  font-size: 26px;
  letter-spacing: -0.009em;
  line-height: 1.4;
}

@media (max-width: 767px) {
  h3 {
    font-size: 24px;
  }
}

@media (max-width: 575px) {
  h3 {
    font-size: 22px;
  }
}

h4 {
  font-size: 20px;
  letter-spacing: -0.009em;
  line-height: 1.6;
}

@media (max-width: 767px) {
  h4 {
    font-size: 18px;
  }
}

li,
h5 {
  font-size: 16px;
  letter-spacing: -0.009em;
  line-height: 1.6;
}

@media (max-width: 767px) {
  li,
  h5 {
    font-size: 15px;
  }
}

h6 {
  font-size: 14px;
  line-height: 1.5;
}

@media (max-width: 767px) {
  h6 {
    font-size: 13px;
  }
}

p {
  font-family: "Inter", "NotoSansKR", "Helvetica Neue", Helvetica, Arial,
    "맑은 고딕", malgun gothic, "돋움", Dotum, sans-serif, "Apple Color Emoji",
    "Noto Color Emoji";
  margin-bottom: 8px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 1.6;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  p {
    font-family: "roboto", "Helvetica Neue", Helvetica, Arial, "맑은 고딕",
      malgun gothic, "돋움", Dotum, sans-serif;
  }
}

small {
  font-size: 12px;
  line-height: 1.5;
}

code,
kbd,
pre,
samp {
  font-family: Hack, Menlo, Monaco, Consolas, "Courier New", monospace,
    "맑은 고딕", malgun gothic, "돋움", Dotum, Sans-Serif;
}

code {
  padding: 2px 6px;
  border: 1px solid #d7e2eb;
  margin: 0 2px 0 0;
  background-color: #f4f4f8;
  border-radius: 0.25rem;
  color: #37485d;
}

pre {
  padding: 0.75rem 1rem;
  border: 1px solid #d7e2eb;
  margin: 0;
  background-color: #f4f4f8;
  border-radius: 0.25rem;
  color: #263747;
  word-break: break-all;
  word-wrap: break-word;
}

pre code {
  padding: 0;
  border: none;
  margin: 0;
  background-color: transparent;
  border-radius: 0;
}

blockquote {
  padding: 1rem;
  border-left: 0.1875rem solid #d7e2eb;
}

blockquote small {
  font-size: 14px;
  line-height: 1.5;
  font-style: italic;
  font-weight: 400;
}

@media (max-width: 767px) {
  blockquote small {
    font-size: 13px;
  }
}

blockquote small:before {
  padding-right: 0.5rem;
  content: "―";
}

#github-container .float-left {
  display: none;
}

#github-container {
  width: 100%;
}

#github-container .float-right {
  font-size: 14px;
  color: darkgray;
}

#github-container
  .position-relative
  .graph-before-activity-overview
  .js-calendar-graph {
  --color-calendar-graph-day-L1-bg: #b6e3ff;
  --color-calendar-graph-day-L2-bg: #54aeff;
  --color-calendar-graph-day-L3-bg: #0969da;
  --color-calendar-graph-day-L4-bg: #0a3069;
  --color-calendar-graph-day-bg: #ebedf0;
  margin: 0.5rem;
}

.js-calendar-graph > div {
  margin-bottom: 0.8rem;
  margin-top: -0.3rem;
}

@media print {
  @page {
    size: A4 portrait;
    margin: auto;
  }

  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  body {
    min-width: 992px !important;
  }

  img {
    page-break-inside: avoid;
  }

  #__next > div > summary > section > a > img {
    display: none;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  h2,
  h3,
  p {
    orphans: 3;
    widows: 3;
  }

  .container {
    min-width: 992px !important;
  }

  .badge {
    border: 1px solid #000;
  }

  thead {
    display: table-header-group;
  }

  .table {
    border-collapse: collapse !important;
  }

  .table td,
  .table th {
    background-color: #fff !important;
  }

  tr {
    page-break-inside: avoid;
  }
}
