@import './calendar.css';
@import './resume.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    select {
        @apply appearance-none;
    }

    body {
        @apply bg-white;
        color: rgba(38, 55, 71, 1);
        line-height: 1.375;
    }

    a {
        @apply no-underline transition-all cursor-pointer hover:no-underline;
        transition-delay: initial;
        transition-duration: 0.08s;
        transition-timing-function: ease-in-out;
    }

    hr {
        @apply my-4 border-t border-b-0 border-l-0 border-r-0 border-solid;
        border-width: 0px;
        border-color: rgba(215, 226, 235, 1);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply my-0;
    }

    h1,
    h2,
    h3 {
        @apply font-bold;
    }

    h4 {
        @apply tracking-normal;
        line-height: 1.6;
    }

    h5,
    h6 {
        @apply font-normal;
    }

    h1 {
        @apply tracking-normal;
        line-height: 1.375;
    }

    h2 {
        @apply tracking-normal;
        line-height: 1.375;
    }

    h3 {
        @apply tracking-normal;
        line-height: 1.375;
    }

    li,
    h5 {
        @apply tracking-normal;
        line-height: 1.6;
    }

    h6 {
        @apply leading-normal;
    }

    p {
        @apply mb-2 font-normal tracking-normal;
        line-height: 1.6;
    }

    small {
        @apply leading-normal;
    }

    code {
        @apply px-1 py-px my-0 ml-0 mr-px border border-solid rounded;
        border-color: rgba(215, 226, 235, 1);
        background-color: rgba(244, 244, 248, 1);
        color: rgba(55, 72, 93, 1);
    }

    pre {
        @apply px-4 py-3 m-0 break-all border border-solid rounded;
        border-color: rgba(215, 226, 235, 1);
        background-color: rgba(244, 244, 248, 1);
        color: rgba(38, 55, 71, 1);
        word-wrap: break-word;
    }

    pre code {
        @apply p-0 m-0 bg-transparent rounded-none;
    }

    blockquote {
        @apply p-4 border-l-2 border-solid;
        border-color: rgba(215, 226, 235, 1);
    }

    blockquote small {
        @apply italic font-normal leading-normal;
    }

    blockquote small:before {
        @apply pr-2;
        content: "―";
    }

    .flex-column {
        @apply flex-col;
    }

    .d-flex {
        @apply flex;
    }

    video {
        @apply object-cover w-full mt-4;
    }

    img,
    svg,
    video,
    canvas,
    audio,
    iframe,
    embed,
    object {
        @apply inline-block;
    }

    ul {
        margin-block-start: 1em;
        margin-block-end: 1em;
        padding-inline-start: 40px;
    }
}