.resume__content {
  transition-delay: initial;
  transition-duration: 80ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
  max-width: 82.5rem;
  margin: 0 auto;
  background-color: #fff;
}

.resume__summary {
  overflow-x: hidden;
  padding: 1rem;
  display: block;
  vertical-align: top;
  font-size: 1rem;
}

.resume__detail {
  position: relative;
  overflow-x: hidden;
  padding: 1rem;
  display: block;
  vertical-align: top;
  font-size: 1rem;
}

.resume__content .resume__detail,
.resume__content .resume__summary {
  display: inline-block;
  vertical-align: top;
  padding: 2.5rem;
  font-size: 1rem;
}

@media (min-width: 1200px) {
  .resume__content .resume__detail,
  .resume__content .resume__summary {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .resume__content .resume__detail::-webkit-scrollbar,
  .resume__content .resume__summary::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 1199px) {
  .resume__content .resume__detail,
  .resume__content .resume__summary {
    display: block;
  }
}
@media (max-width: 767px) {
  .resume__content .resume__detail,
  .resume__content .resume__summary {
    padding: 1rem;
  }
}
@media (max-width: 575px) {
  .resume__content .resume__detail,
  .resume__content .resume__summary {
    overflow-x: hidden;
  }
}
@media (min-width: 1200px) {
  .resume__content .resume__summary {
    top: 0;
    width: 30rem;
    padding-bottom: 4rem;
  }
}
@media (max-width: 1199px) {
  .resume__content .resume__summary footer {
    display: none;
  }
}
@media (max-width: 1199px) {
  .resume__content {
    max-width: 55rem;
  }
}

.resume__content .resume__detail {
  position: relative;
  padding-top: unset;
}
@media (min-width: 1200px) {
  .resume__content .resume__detail {
    width: calc(100% - 30rem);
  }
}

.backToHome {
  margin: 3rem 0 0;
}

.information {
  margin-top: 0;
  border-top: 0;
  position: relative;
  padding: 0;
  font-size: 1rem;
}

.profile_image {
  border-radius: 50%;
}
