.gh__thumbnail {
    aspect-ratio: auto 997 / 498;
    display: block;
}

.gh__link {
    box-sizing: border-box;
    color: #c9d1d9;
    color-scheme: dark;
    font-size: 85%;
    font-weight: 600;
    line-height: 1.25;
    word-wrap: break-word;
}

.language_array {
    list-style: none;
    padding: 0 0 0 0;
    margin-top: 0.5px;
}

.language__component {
    display: inline-flex !important;
    align-items: center;
    margin-right: 4px;
}

.language_button {
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-right: 4px;
}

.language_name {
    font-weight: 600;
    margin-right: 4px;
    color: #24292f;
}

.Progress {
    background-color: var(--color-neutral-muted);
    display: flex;
    height: 11px;
    outline: 1px solid #0000;
    overflow: hidden;
    border-collapse: collapse;
    margin-top: 5.5px;
    --Layout-gutter: 16px;
}

.Progress-item {
    outline: 2px solid #0000;
    border-collapse: collapse;
    --Layout-gutter: 16px;
}

.Progress-item+.Progress-item {
    margin-left: 2px;
}