.resume_card {
  width: 100%;
  border-radius: 0.75rem;
  border: 0.0625rem solid #d7e2eb;
  padding: 1.5rem;
  margin: 1.5rem 0;
}

.resume_card_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.resume_card_header_title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.375rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  letter-spacing: -0.009em;
}

.resume_card_body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden;
}

.resume_card_header .resume_card_left {
  max-height: 2.125rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.resume_card_left {
  width: 8rem;
}

.resume_card_item_period {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  color: #98a8b9;
  line-height: 1.5rem;
}

.resume_card_item_period .period {
  margin-left: 0.15rem;
  font-size: smaller;
}

.resume_card_header .resume_card_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.resume_card_item .resume_card_right {
  position: relative;
}

.resume_card_right {
  width: calc(100% - 9rem);
}

.resume_card_right > ul:last-child,
.resume_card_right > div:last-child {
  margin-left: -4rem;
}

.resume_card_item_label {
  font-size: 20px;
  letter-spacing: -0.009em;
  font-weight: 700;
  word-break: break-all;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.resume_card_item_label + .resume_card_item_text {
  margin-top: 0.5rem;
}

.resume_card_item_text + .resume_card_item_text {
  margin-top: 0;
  margin-bottom: 0;
}

.resume_card_item_text a {
  color: #263747;
}

.resume_card_item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: -webkit-max-content;
  height: max-content;
  border-bottom: 0.0625rem solid #d7e2eb;
  padding: 1.5rem 0;
}

.resume_card_item:first-child {
  padding-top: 0.75rem;
}

.resume_card_item:last-child {
  border: none;
}

.tag_list {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
}

.tag_list li {
  font-size: 12px;
  line-height: 1.5;
  display: inline-block;
  vertical-align: top;
  margin: 0 0.25rem 0.25rem 0;
  padding: 0.125rem 0.375rem;
  border: 0;
  border-radius: 0.25rem;
  font-weight: 400;
  color: #263747;
  background-color: #e9ecf3;
}

.contributions_label {
  margin-left: -4rem;
  font-size: 14px;
  line-height: 1.5;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.list_contributions {
  background-color: #fbfbfd;
  border-left: 2px solid #d7e2eb;
  margin: 0.5rem 0.125rem;
  padding: 1rem 1rem 1rem 0.6rem;
  list-style: none;
}

.list_contribution_item {
  position: relative;
  padding: 0 1.2rem;
  margin: 0.5rem;
  font-size: 0.9375rem;
  line-height: 1.6;
  word-break: break-word;
  line-break: anywhere;
}

.list_contribution_item a {
  letter-spacing: -0.77px;
  height: 24px;
  width: 100%;
  overflow: hidden;
}

.part_title,
.part_title a {
  font-weight: 500;
  margin-right: 0.5rem;
}

.part_period {
  font-size: 14px;
  line-height: 1.5;
  vertical-align: text-top;
  color: #98a8b9;
  margin-right: 0.0625rem;
}

.list_contribution_item .url__link {
  display: block;
  vertical-align: middle;
}

.slug__icon {
  margin: 0 0.6rem 0 0;
  vertical-align: middle;
}

.list_contributions .list_contribution_item .part_title,
.list_contributions .list_contribution_item .part_period {
  vertical-align: top;
}

.list_contributions .list_contribution_item .part_description {
  margin: 0.125rem 0 0 0;
  font-size: 0.9375rem;
  line-height: 1.7;
}

.markdown_viewer,
.markdown_viewer * {
  height: -webkit-max-content;
  height: max-content;
}

.markdown,
.tui_editor .tui_editor_contents {
  background-color: transparent;
  word-break: normal;
  word-wrap: break-word;
}

@media (max-width: 1199px) {
  .resume_card_item_text {
    margin-top: 0.25rem;
  }

  .resume_card_item_text + .resume_card_item_text {
    margin-top: 0;
    margin-bottom: 0;
  }

  .resume_card_item_label {
    line-height: 1.625rem;
  }

  .resume_card .test_item .resume_card_item_text {
    margin-top: 0.25rem;
  }
}

@media (max-width: 767px) {
  .resume_card_right {
    width: calc(100% - 11.5rem);
  }

  .resume_card_item .list_contribution {
    margin-top: 0.25rem;
  }

  .resume_card .test_item_header {
    align-items: flex-start;
  }

  .resume_card.shrinked .resume_card_body {
    width: calc(100% - 11.5rem);
  }
}

@media (max-width: 575px) {
  .resume_card {
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .resume_card_left {
    width: 100%;
  }

  .resume_card_right {
    width: 100%;
  }

  .resume_card_right > ul:last-child,
  .resume_card_right > div:last-child {
    margin-left: unset;
  }

  .contributions_label {
    margin-left: unset;
  }

  .resume_card_header_title {
    font-size: 0.9375rem;
    line-height: 1.375rem;
  }

  .resume_card_item {
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 0;
  }

  .resume_card_item_label {
    line-height: 1.375rem;
    margin: 0.25rem 0;
  }

  .resume_card_item_period {
    flex-direction: row;
    align-items: center;
  }

  .resume_card_item_period .period {
    margin-left: 0.375rem;
  }

  .resume_card_text_example {
    display: none;
  }

  .resume_card.shrinked {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .resume_card.shrinked > div {
    width: 100% !important;
  }

  .resume_card.shrinked .resume_card_item:first-child {
    padding: 1.5rem 0;
  }

  .resume_card.shrinked .resume_card_item:last-child {
    padding-bottom: 0;
  }

  .resume_card .test_box {
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
    gap: 1rem;
  }

  .resume_card .test_box:first-child,
  .resume_card .test_box:last-child {
    padding-top: 0.75rem;
  }

  .resume_card .test_item {
    padding: 0;
  }

  .resume_card .test_item .resume_card_item_text {
    margin-top: 0;
  }

  .resume_card .test_item_table {
    border: none;
    border-bottom: 1px solid #d7e2eb;
    display: flex;
    flex-direction: row;
  }

  .resume_card .test_item_table tbody {
    display: flex;
    width: 100%;
  }

  .resume_card .test_item_table tr {
    border: none;
    flex-direction: column;
  }

  .resume_card .test_item_table tr:first-child {
    width: 30%;
  }

  .resume_card .test_item_table tr:last-child {
    width: 70%;
  }

  .resume_card .test_item_table td {
    min-height: 1.875rem;
    text-align: left !important;
    padding: 0.25rem 0.5rem;
    border-top: 1px solid #d7e2eb;
  }

  .resume_card .test_item_table .tcol_1,
  .resume_card .test_item_table .tcol_2,
  .resume_card .test_item_table .tcol_3 {
    width: 100%;
  }

  .resume_card .test_item_btn a:hover,
  .resume_card .test_item_btn a:visited {
    color: white;
  }
}
