.card_body {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.card_item {
    padding-bottom: 0;
    padding: 1.5rem 0;
    margin-bottom: 0;
    border-bottom: none;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
    display: flex;
    width: 100%;
    height: max-content;
}

.timeline_wrap {
    margin: 0;
    width: 100%;
    min-height: 50px;
    font-size: 1rem;
    display: block;
    overflow-wrap: anywhere;
}

.timeline_labels {
    grid-template-columns: repeat(11, 1fr);
    display: grid;
    margin-bottom: 0.125rem;
    font-size: 1rem;
    line-height: 1.4;
}

.year {
    font-size: 12px;
    line-height: 1.5;
    padding-left: 0.25rem;
    border-right: 0.0625rem solid #d7e2eb;
    color: #49576f;
}

.year:after {
    content: "";
    background-color: #d7e2eb;
}

.grid_timeline {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-auto-flow: column dense;
    padding-top: 0.25rem;
}

.event_item {
    font-weight: 900;
    font-size: 12px;
    line-height: 1.5;
    padding: 0.25rem 0.5rem;
    margin-left: 0.1rem;
    white-space: nowrap;
    overflow-x: clip;
    text-overflow: clip;
    border-radius: 0.125rem;
    text-align: center;
    cursor: text;
    color: #fff;
}

.event_item[data-type="activity"] {
    background-color: #85929e;
    color: #292929;
    font-size: 10px;
    letter-spacing: -0.004rem;
}

.event_item[data-type="education"] {
    background-color: #aeb6bf;
    color: #474747;
}

.event_item[data-type="experience"] {
    background-color: #34495e;
    color: #A4B9CB;
}

.event_item[data-type="project"] {
    background-color: #5d6d7e;
    color: #F2F2F2;
    font-size: 10px;
    letter-spacing: -0.004rem;
}